* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
// global class for color
$silver: rgb(178, 180, 182);
$black: rgb(0, 0, 0);
$white: rgb(250, 250, 250);
$grey: rgb(131, 149, 167);


//font-family: 'Montserrat Alternates', sans-serif;
//font-family: 'Lilita One', cursive;
//font-family: 'Montaga', serif;
//font-family: 'Caveat Brush', cursive;


// style tablicy
.board {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color:$black;
    width: 100%;
    height: auto;
    h1 {
        font-family: 'Lilita One', cursive;
        font-weight: 400;
        text-transform: capitalize;
        color: $white;
    }
    .create-column {
        width: 200px;
        height: 50px;
        background-color: $black;
        font-family: 'Lilita One', cursive;
        color: $white;
        font-size: 20px;
        border: 3px outset $grey;
        border-radius: 15px;
        border-style: outset;
        cursor: pointer;
        display: block;
        text-align: center;
        &:hover {
            transform: scale(1.1, 1.1);
            transition: .2s ease-in;
        }
    }
    .column-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: space-between;
        // style kolumny
        .column {
            background-color: $white;
            display: flex;
           flex-flow: column;
           justify-content: flex-start;
           align-items: flex-start;
            min-width: 300px;
            min-height: 300px;
            border: 5px inset $grey;
            border-radius: 15px;
            margin: 10px;
            .column-title {
                font-family: 'Montserrat Alternates', sans-serif;
                font-weight: 600;
                align-self: center;  
            }
            .column-card-list {
                list-style-type: none;
                font-style: italic;
                font-family: 'Montserrat Alternates', sans-serif;
                font-weight: 400;
                display: block;
                padding: 0;
                margin: 0;
                width: 90%;
                min-height: 50px;
            }
            .btn-delete {
                border: none;
                font-family: 'Caveat Brush', cursive;
                line-height: 20px;
                align-self: flex-end;
                background-color: transparent;
                color: red;
                font-size: 15px;
                &:hover {
                    transform: scale(1.1, 1.1);
                    transition: .2s ease-in;
                }  
            }
            .add-card {
                align-self: flex-end;
                width: 160px;
                height: 50px;
                margin: 5px;
                background-color: $black;
                font-family: 'Lilita One', cursive;
                color: $white;
                font-size: 15px;
                border: 3px outset $grey;
                border-radius: 15px;
                cursor: pointer;
                align-self: center;
                &:hover {
                    transform: scale(1.1, 1.1);
                    transition: .2s ease-in;
                }               
            }
        }
        // style karteczek
        .card {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 5px;
            width: 100%;
            min-height: 100px;
            border-style: none none outset none;
            border-color: $grey;
            background-color: $white;
            border-width: 0 0 3px 0;
            .card-description {
                font-family: 'Montaga', serif;
                font-size: 16px;
                font-style: italic;
            }
            .btn-delete {
                border: none;
                font-family: 'Caveat Brush', cursive;
                line-height: 20px;
                align-self: flex-end;
                background-color: transparent;
                color: red;
                font-size: 15px;
                &:hover {
                    transform: scale(1.1, 1.1);
                    transition: .2s ease-in;
                }
            }
        }
    }
}


